<div class="center hero-unit">
  <h2><%= link_to "Get started on your resume", resumes_path %></h2>

  <p>Formatting a r&#233;sum&#233; reflects how handy you are with a word processor, which is of little importance in most jobs. Unfortunately, a bad looking C.V. can torpedo your job application.</p>
  <p>With ResumeRobot's help formatting your resume*, your focus is on your content, where it belongs. Imagine if everyone had a nice looking resume... employers might start to actually read them</p>

</div>

<div class="pull-left well well-small">
  <p>*We freely use both "resume" and "r&#233;sum&#233;" and don't give a care. Both are correct as far as we can tell. For your CV, you will want to stick with a single format in those gray areas of English like Oxford commas, accent marks, and all those extra vowels the colonies lopped off.</p>
</div>

<% if user_signed_in? %>
  <div class="action-button pull-left">
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-large btn-primary"  %>
  </div>
<% else %>
  <div class="action-button pull-left">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>
  <div class="action-button pull-left">
    <%= link_to "Sign In", user_session_path, class: "btn btn-large btn-primary"  %>
  </div>
<% end %>