<div class="page-header">
  <h1>Edit Your R&eacute;sum&eacute; Contact Info</h1>
</div>
<div class="well well-small">
  <p>Edit your listed contacts.</p>
</div>
<%= render 'nav' %>
<%= render 'form' %>