@import "bootstrap";

/* all pages */

html {
  overflow-y: scroll;
}

body {
  padding-top: 10%;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  margin-bottom: 5%;
}

h2 {
  font-size: 2em;
  margin-bottom: 4%;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}


/* header */
#logo {
  float: left;
  margin: 1% 0% 1% 1%;
  padding: 1% 0% 1% 0%;
}

#logo h1 {
  font-size: 5em;
  text-transform: uppercase; 
  line-height: 1;
  color: #FF0;
  &:hover {
    color: #F00
  }
}


/* random */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* home/index */
.action-button {
  margin-left: 5%;
}