// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dt {
  margin-bottom: 4px;
}

dd {
  margin-bottom: 3px;
}

.btn {
  margin-right: 5px;
}