<div class="page-header">
  <h1>R&eacute;sum&eacute; Edits &amp; Updates</h1>
</div>
<div class="well well-small">
  <p>Change the position you are seeking and career objectives for your resume.</p>
</div>
<%= render 'shownav' %>
<%= render 'form' %>