<div class="page-header">
  <h1>Create a R&eacute;sum&eacute;</h1>
</div>
<div class="well well-small">
  <p>Create a new resume specific to a position you are seeking and career objectives.</p>
</div>
<%= render 'nav' %>
<%= render 'form' %>